{% extends "resume/resume_item_base.html" %}

{% comment %}
Template for viewing a list of resumes.
{% endcomment %}
{% block content %}

<style>
  button.delete-button {
    float: right;
  }
</style>
<div class="container-fluid">
  
  <div class="container content-section resume-container">
    <h1>{{ form.resume_name }}</h1>
    <div class="col-sm-11">
      <form class="form-horizontal" action="/resume/edit/{{ resume_id }}" method="post">
        {% csrf_token %}
        <label for="resume_name">Resume name: </label>
          <div class="col-sm-8">
            <input
              id="resume_name"
              type="text"
              name="resume_name"
              value="{{ form.resume_name.value }}"
            />
            <input type="submit" value="Save Name Change" class="btn btn-primary"/>
            <input type="submit" value="Delete Resume" name="delete" class="btn btn-danger delete-button"/>
          </div>
          <div><p>Resume ID: {{ resume_id }}</p></div>
      </form>
    </div> 
  </div> 
  <div class="container content-section resume-container">
    <div>
      {% for resume_item in resume_items %}
      <section class="resume-item">
        <h3><a href="/resume/item/edit/{{ resume_item.id }}">{{ resume_item.title }}</a></h3>
        <h4>{{ resume_item.company }}</h4>
        <h4>{{ resume_item.start_date | date:"M Y"}} - {% if resume_item.end_date %}{{ resume_item.end_date | date:"M Y"}}{% else %}Present{% endif %}</h4>
        {% if resume_item.description %}<p>{{ resume_item.description }}</p>{% endif %}
      </section>
      {% endfor %}
    
    <div>
      <form class="form-horizontal" action="/resume/add_item_to/{{ resume_id }}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Add Resume Item to Resume No. {{ resume_id }}" />
      </form>
    </div> 
  </div>
  </div>
</div>
  
{% endblock %}