

{% extends "base_logged_in.html" %}

{% comment %}
Base form template for creating and editing resume items.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-item-form-container {
      margin-top: 24px;
    }

    h1.resume-item-header {
      margin-bottom: 24px;
    }

    textarea#inputDescription {
      height: 120px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="row content-section resume-item-form-container">

      <div class="col-xs-12">

    <h1 class="resume-item-header">{% block resume_item_header_text %}{% endblock %}</h1>
    <h1 class="resume-item-header">{% block resume_name %}{% endblock %}</h1>

    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}

      <div class="row">

        <div class="col-sm-6">
          {{ form.title.errors }}
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-8">
              <input type="text" name="title" id="inputTitle"
                     required maxlength="127"
                     class="form-control" aria-label="Title"
                     {% if form.title.value %}value="{{ form.title.value }}"{% endif %}>
            </div>
          </div>
          {{ form.company.errors }}
          <div class="form-group">
            <label for="inputCompany" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-8">
              <input type="text" name="company" id="inputCompany"
                     required maxlength="127"
                     class="form-control" aria-label="Company"
                     {% if form.company.value %}value="{{ form.company.value }}"{% endif %}>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          {{ form.start_date.errors }}
          <div class="form-group">
            <label for="inputStartDate" class="col-sm-3 control-label">Start Date</label>
            <div class="col-sm-5">
              <input type="text" name="start_date" id="inputStartDate"
                     required placeholder="YYYY-MM-DD"
                     class="form-control" aria-label="Start Date"
                     {% if form.start_date.value %}value="{{ form.start_date.value.isoformat }}"{% endif %}>
            </div>
          </div>
          {{ form.end_date.errors }}
          <div class="form-group">
            <label for="inputEndDate" class="col-sm-3 control-label non-required">End Date</label>
            <div class="col-sm-5">
              <input type="text" name="end_date" id="inputEndDate"
                     placeholder="YYYY-MM-DD"
                     class="form-control" aria-label="End Date"
                     {% if form.end_date.value %}value="{{ form.end_date.value.isoformat }}"{% endif %}>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {{ form.description.errors }}
          <div class="form-group">
            <label for="inputDescription" class="col-sm-1 control-label non-required">Description</label>
            <div class="col-sm-11">
              <textarea type="text" name="description" id="inputDescription"
                        maxlength="2047"
                        class="form-control" aria-label="Description"
              >{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {% if message %}
            <p class="text-success">{{ message }}</p>
          {% endif %}

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11 submit-col">
              <button type="submit" class="btn btn-primary">
                {% block resume_item_submit_button_text %}{% endblock %}
              </button>
              <a class="btn btn-default" href="/resumes">Back</a>

              {% block resume_item_additional_buttons %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </form>

      </div>

    </div>

  </div>
{% endblock %}
