{% extends "resume/resume_item_base.html" %}

{% comment %}
Template for viewing a list of resumes.
{% endcomment %}
{% block content %}
  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>
      {% for resume in resumes %}
        <section class="resume-item">
          <h3>{{ resume.resume_name }} ({{resume.resume_items.count}} jobs)</h3>
          <a class="btn btn-primary" href="/resume/edit/{{ resume.id }}">Edit</a>
        </section>
      {% endfor %}
    <form action="/resume/create/" method="post">
      {% csrf_token %}
      <label for="resume_name">Resume name: </label>
      <input
        id="resume_name"
        type="text"
        name="resume_name"
        value="{{ resume_name }}"
      />
      <input type="submit" class="btn btn-success" value="Create New Resume" />
    </form>
  </div>  
{% endblock %}