{% extends "base.html" %}

{% comment %}
Base template for authenticated pages in the resume builder project (excluding
the Django admin)
{% endcomment %}

{% load static %}

{% block styles %}
  <style>
    body > div.container {
      margin-top: 3%;
      margin-bottom: 3%;
    }
    #logout-button {
      margin-right: 10px;
    }
    nav.navbar-default {
      border: 1px solid #aaa;
      border-radius: 3px;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <nav class="navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/resumes">Resume Builder</a>
        </div>

        <ul class="nav navbar-nav">
          <li role="presentation" {% if "/resumes/" in request.path %}class="active"{% endif %}>
            <a href="/resumes/">Resumes</a>
          </li>
          <li role="presentation" {% if "/resume/" in request.path %}class="active"{% endif %}>
            <a href="/resume/">Resume Items List</a>
          </li>
          <li role="presentation" {% if "/user/" in request.path %}class="active"{% endif %}>
            <a href="/user/">User account</a>
          </li>
        </ul>

        <div class="navbar-right">
          <a class="btn btn-default navbar-btn" id="logout-button" href="/logout/">
            Log out
          </a>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
  </div>
{% endblock %}
